<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Intenção Financiamento</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstraptheme.min.css}"
	rel="stylesheet" />

<style>
.logo-container {
	background-color: #000000;
	color: #fff;
}
</style>

</head>
<body>
	<div class="container">
		<div class="w-auto p-3 mt-3 logo-container">Intenção de Financiamento</div>
		<div>
			<h1 class="display-6">Intenção</h1>
		</div>
		<form method="POST" th:object="${intencao}"  th:action="@{/salvar-intencao}">
		
			<div class="form-row">		
				<div><input type="hidden"  th:field="*{id}"></div>  
				
				<div class="form-group col-md-6 mt-3">
		      		<label for="nome">Cliente:</label>
		     	 	<input type="text" class="form-control" th:errorclass="is-invalid" placeholder="Cliente" th:field="*{nomeCliente}">
		     	 	<div th:errors="*{nomeCliente}" class="invalid-feedback"></div>
		    	</div>  
		    	
		    	
		    	<div><input type="hidden"  th:field="*{id}"></div>  
				
				<div class="form-group col-md-6 mt-3">
		      		<label for="nome">Endereço:</label>
		     	 	<input type="text" class="form-control" th:errorclass="is-invalid" placeholder="Logradouro" th:field="*{enderecoLogradouro}">
		     	 	<div th:errors="*{enderecoLogradouro}" class="invalid-feedback"></div>
		    	</div>	    	
		    	
		    	<div class="form-group col-md-6 mt-3">
		      		<label for="nome">Nº:</label>
		     	 	<input type="text" class="form-control" th:errorclass="is-invalid" placeholder="Nº" th:field="*{enderecoNumero}">
		     	 	<div th:errors="*{enderecoNumero}" class="invalid-feedback"></div>
		    	</div>
		    	
		    	<div class="form-group col-md-6 mt-3">
		      		<label for="nome">Cidade:</label>
		     	 	<input type="text" class="form-control" th:errorclass="is-invalid" placeholder="Cidade" th:field="*{enderecoCidade}">
		     	 	<div th:errors="*{enderecoCidade}" class="invalid-feedback"></div>
		    	</div>
		    	
		    	<div class="form-group col-md-6 mt-3">
	      			<label for="nome">Estado:</label>
	     	 		<select th:field="*{enderecoEstado.id}">
	     	 			<option th:each="var: ${estados}" th:value="${var.id}" th:text="${var.nome}">
	     	 			
	     	 			</option>	     	 		
	     	 		</select>
	    		</div>
		    	
		    	<div class="form-group col-md-6 mt-3">
		      		<label for="nome">CEP:</label>
		     	 	<input type="text" class="form-control" th:errorclass="is-invalid" placeholder="CEP" th:field="*{enderecoCEP}">
		     	 	<div th:errors="*{enderecoCEP}" class="invalid-feedback"></div>
		    	</div>
		    	
		    	<div class="form-group col-md-6 mt-3">
		      		<label for="nome">CPF:</label>
		     	 	<input type="text" class="form-control" th:errorclass="is-invalid" placeholder="CPF" th:field="*{cpfCliente}">
		     	 	<div th:errors="*{cpfCliente}" class="invalid-feedback"></div>
		    	</div>
		    	
		    	<div class="form-group col-md-6 mt-3">
		      		<label for="nome">RG:</label>
		     	 	<input type="text" class="form-control" th:errorclass="is-invalid" placeholder="RG" th:field="*{rgCliente}">
		     	 	<div th:errors="*{rgCliente}" class="invalid-feedback"></div>
		    	</div>
		    	
		    	<div class="form-group col-md-6 mt-3">
		      		<label for="nome">Data nascimento:</label>
		     	 	<input type="text" class="form-control" th:errorclass="is-invalid" placeholder="Data de nascimento" th:field="*{dataNascimento}">
		     	 	<div th:errors="*{dataNascimento}" class="invalid-feedback"></div>
		    	</div>
		    	
		    	<div class="form-group col-md-6 mt-3">
		      		<label for="nome">E-mail:</label>
		     	 	<input type="text" class="form-control" th:errorclass="is-invalid" placeholder="E-mail" th:field="*{contatoEmail}">
		     	 	<div th:errors="*{contatoEmail}" class="invalid-feedback"></div>
		    	</div>
		    	
		    	<div class="form-group col-md-6 mt-3">
		      		<label for="nome">Telefone:</label>
		     	 	<input type="text" class="form-control" th:errorclass="is-invalid" placeholder="Telefone" th:field="*{contatoTelefone}">
		     	 	<div th:errors="*{contatoTelefone}" class="invalid-feedback"></div>
		    	</div>
		    	
		    	<div class="form-group col-md-6 mt-3">
		      		<label for="nome">Celular:</label>
		     	 	<input type="text" class="form-control" th:errorclass="is-invalid" placeholder="Celular" th:field="*{contatoCelular}">
		     	 	<div th:errors="*{contatoCelular}" class="invalid-feedback"></div>
		    	</div>    			    	
		    	
		    	<div class="form-group col-md-6 mt-3">
	      			<label for="nome">Tipo Financiamento:</label>
	     	 		<select th:field="*{tipoFinanciamento.idTipoFinanciamento}">
	     	 			<option th:each="var: ${tiposFinanciamento}" th:value="${var.idTipoFinanciamento}" th:text="${var.tipoFinanciamento}">
	     	 			
	     	 			</option>	     	 		
	     	 		</select>
	    		</div>
	    		
	    		<div class="form-group col-md-6 mt-3">
		      		<label for="nome">Qtd. Parcelas:</label>
		     	 	<input type="text" class="form-control" th:errorclass="is-invalid" placeholder="Qtd. Parcelas" th:field="*{qtdParcelas}">
		     	 	<div th:errors="*{qtdParcelas}" class="invalid-feedback"></div>
		    	</div>   
		    	
		    	<div class="form-group col-md-6 mt-3">
		      		<label for="nome">Valor intenção:</label>
		     	 	<input type="text" class="form-control" th:errorclass="is-invalid" placeholder="R$" th:field="*{valorIntencao}">
		     	 	<div th:errors="*{valorIntencao}" class="invalid-feedback"></div>
		    	</div>
		    	
		    	
		    	<div class="form-group col-md-6 mt-3">
		      		<label for="nome">Salário:</label>
		     	 	<input type="text" class="form-control" th:errorclass="is-invalid" placeholder="R$" th:field="*{salarioCliente}">
		     	 	<div th:errors="*{salarioCliente}" class="invalid-feedback"></div>
		    	</div>
		    	  
			</div>		
			
		
			<div>
				<button type="submit" class="btn btn-light  mt-3">Salvar</button>
			</div>
		</form>	
	</div>

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
